@{
    ViewData["Title"] = "Hello mockups";
}

<h1>Mockups</h1>

<ul class="page-links">
    <li><a asp-controller="Mockups" asp-action="Quiz">Quiz</a></li>
    <li><a asp-controller="Mockups" asp-action="Result">Quiz result</a></li>
</ul>
